@media (width: 1440px){
.block_1{
    height: 600px;
    background-color: rgba(16, 15, 168, 1);
    width: 1440px;

    }
    .header{
        box-shadow: 0px 4px 21px -1px rgba(34, 60, 80, 0.13);
        background-color: rgba(16, 15, 168, 1);
        width: 1440px;
        }
    .block_1__img{
    width: 35%;
    margin-top: 38px;
    }
    .dop1{
    padding-top: 50px;
    padding-bottom: 70px;
    }
    .caso__img{
    width: 40%;
    }

    .caso__column{
    width: 500px;
    margin-left: -90px;
    }
    .caso__txt1{
    font-size: 25px;

    }
    .caso__txt2{
    font-size: 35px;
    }
    .caso__txt3{
    font-size: 25px;
    }
    .dop1__column1{
        width: 500px;
    }
    .dop1__txt1{
    font-size: 40px;
    }
    .dop1__txt2{
    font-size: 25px;
    }
    .dop1__link{
        font-size: 25px;
    }
    .dop1__img{
    width: 35%;
    height: 130%;
    }
    .accordion{
        width: 1040px;
    margin-left: 300px;     
    padding-bottom: 50px;   
    }
    .accordion__img{
        width: 22%;
        margin-top: -20px;
    }
    .accordion__separation{
    width: 600px;
    margin-left: 30px;
    }
    .estamos{
    width: 1440px;
    height: 400px;
 

    }
    .estamos__img{
    width: 30%;
    margin-right: 150px;
    }
    .estamos__column{
    width: 400px;
    margin-left: 200px;
    }
    }