.caso{
display: flex;
width: auto;
height: 500px;
background-color: rgba(16, 15, 168, 1);
padding: 0  50px;

}
.caso__column{
display: flex;
flex-direction: column;
gap: 30px;
margin: auto;
padding-left: 20px;


}
.caso__button{
background-color: aliceblue;
width: 150px;
padding: 10px;
border-radius: 10px;
color: rgba(16, 15, 168, 1);
font-family: montserrat;
font-weight: 600;
}
.caso__img{
width: 70%;
height: 70%;
display: flex;
margin: auto;
}
.caso__txt1{
font-family: montserrat;
color: white;
}
.caso__txt2{
font-family: montserrat;
color: white;
}
.caso__txt3{
font-family: montserrat;
color: white;
}
    