.footer{
display: flex;
padding: 0px 60px;
}
.footer__txt{
font-size: 10px;
display: flex;
margin: auto;
}
.footer__img2{
width: 10%;
height: 5%;
margin: auto;
display: flex;
}
.footer__img1{
margin: auto;
display: flex;
}