.tab-content__container1{
display: flex;
align-items: center;
gap: 20px;
}

.block_2{
height: 350px;
}
.tab-content{
border: 5px solid rgb(0, 0, 0);
margin: auto;
border-radius: 20px;
width: 60%;
display: flex;
flex-direction: column;
gap: 20px;
padding: 20px;
}
.tab-content__txt-bold{
font-weight: 1000;
font-family: montserrat;
font-size: 30px;
}
.tab-content__txt-simpl{
font-family: montserrat;
font-size: 20px   
}
.tab-content__img{
width: 5%;
}
.tab-content__link{
text-decoration: none;
color: rgb(30, 33, 250);
font-size: 20px;
font-family: montserrat;
}
.tab_item{
color: #1100ff;
padding: 10px;
background-color: #ffffff;
cursor: pointer;
font-family: montserrat;
}
.tab__container-list{
display: flex;
justify-content: space-between;
list-style: none;
width: 600px
}
.tab__container{
display: flex;
justify-content: center;

}
.tab__txtGl{
display: flex;
margin-top: 20px;
margin-bottom: 10px;
}
.tab__txtGl-txt{
    font-family: montserrat;
    font-weight: 800;
    font-size: 40px;
    margin: auto;
}
.hidden{
display: none;
}